---
import ContactUsHeader from "../components/ContactUsHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { FaRegMap } from "react-icons/fa6";
import { FaPhone } from "react-icons/fa6";
import { MdOutlineEmail } from "react-icons/md";
import {
  ADDRESS_LINE_1,
  ADDRESS_LINE_2,
  PHONE_NUMBER,
  EMAIL_ADDRESS,
} from "../consts";
import GeneralFAQs from "../components/GeneralFAQs";
import Tecnam from "../assets/tecnam-no-bg2.webp";
import TestimonialsNoBg from "../components/TestimonialsNoBg.astro";
import TestimonialsSwiper from "../components/TestimonialsSwiper.astro";
import testimonialsSwiper from "../data/testimonialsSwiper";



const CONTACT_FORM_WEBHOOK_URL = import.meta.env.CONTACT_FORM_WEBHOOK_URL;

const data = {
  siteTitle: "Contacto - iFly Universidad Aeronáutica",
  siteDescription:
    "Ponte en contacto con iFly para obtener más información sobre nuestros carreras y servicios. Estamos aquí para ayudarte a despegar en tu carrera aeronáutica.",
  headerImage: "images/estudiantes-graduados-de-la-universidad-de-ifly.webp",
  headerAlt: "Avión de iFly sobre las nubes",
  title: "Contacto",
  text: `¿Estás interesado en conocer más sobre nuestros programas de
          estudio? ¿Quieres saber más sobre iFly y cómo podemos ayudarte a
          alcanzar tus metas de convertirte en piloto aviador? ¡Contáctanos!`,
  address_1: `Edificio Plaza Península`,
  address_2: `Prolongación Paseo de Montejo x calle 47, Benito Juárez Nte. Mérida, Yucatán, México`,
};
const imgURL = "images/bg-clouds-from-above.webp";
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <ContactUsHeader slot="header" data={data} />

  <div class="absolute h-[750vh] lg:h-[400vh] w-full bg-cover -z-50"
    style=`background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url(./${imgURL})`
  ></div>

  <section class="relative lg:bg-main-black/5"
  >
    <Image
      src={Tecnam}
      alt="Estudiante en hangar de iFly"
      class="w-11/12 lg:w-4/6 z-10 relative mx-auto top-8 lg:top-12"
    />

    <div
      class="flex flex-col max-w-xl lg:max-w-6xl mx-auto lg:shadow-md px-5 py-50 lg:p-10 bg-sec-blue"
    >
      <div class="flex flex-col gap-10 border-2 border-main-blue p-10">
        <div
          class="lg:flex-1 flex flex-col gap-10"
        >
          <h2 class="font-medium text-5xl mx-auto pt-8">
            Ponte en contacto
          </h2>
          <ul class="flex flex-col lg:flex-row gap-5 justify-between text-center items-center">
            <li class="w-11/12 lg:w-1/3">
              <a
                href="https://maps.app.goo.gl/xnquhkZFTguttGxo8"
                target="_blank"
                class="group flex flex-col gap-5 items-center"
              >
                <div
                  class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
                >
                  <FaRegMap className="text-white size-6" />
                </div>
                <div class="group-hover:scale-[1.01] duration-300">
                  <p
                    class="text-2xl"
                  >
                    {data.address_1}<br/>
                    <small class="text-sm">
                      {data.address_2}
                    </small>
                  </p>
                </div>
              </a>
            </li>
            <li class="w-11/12 lg:w-1/3">
              <a href=`tel:${PHONE_NUMBER}` class="group flex flex-col gap-5 items-center">
                <div
                  class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
                >
                  <FaPhone className="text-white size-6" />
                </div>
                <div>
                  <p
                    class="text-2xl font-medium group-hover:scale-105 duration-300"
                  >
                    {PHONE_NUMBER}
                  </p>
              </div>
              </a>
            </li>
            <li class="w-11/12 lg:w-1/3">
              <a href=`mailto:${EMAIL_ADDRESS}` class="group flex flex-col gap-5 items-center">
                <div
                  class="p-3 bg-main-blue w-fit h-fit rounded-full group-hover:bg-main-blue/80 duration-300"
                >
                  <MdOutlineEmail className="text-white size-6" />
                </div>
                <div>
                  <p
                    class="text-2xl font-medium group-hover:scale-105 duration-300"
                  >
                    {EMAIL_ADDRESS}
                  </p>
              </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="lg:flex-1">
          <form
            id="form"
            class="flex flex-col max-w-4xl mx-auto gap-5 my-5 lg:my-0 shadow-sm"
          >
            <div class="flex flex-col gap-5">
              <input
                type="text"
                name="first-name"
                placeholder="Nombre/s"
                class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 "
                required
              />
              <input
                type="text"
                name="last-name"
                placeholder="Apellido/s"
                class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 "
                required
              />
            </div>
            <div class="flex flex-col gap-5">
              <input
                id="email"
                type="email"
                name="email"
                placeholder="Email"
                class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 "
                required
              />
              <input
                type="email"
                name="confirm-email"
                placeholder="Confirm email"
                class="hidden px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 "
              />
              <input
                type="tel"
                name="phone"
                placeholder="Teléfono"
                class="px-5 py-4 outline-1 w-full border-gray-400 border outline-gray-500 "
                required
              />
            </div>

            <textarea
              id="more-info"
              name="more-info"
              placeholder="Comentario"
              required
              class="px-5 py-4 outline-1 border-gray-400 border outline-gray-500 min-h-40"
            ></textarea>

            <div class="flex gap-3">
              <input
                type="checkbox"
                name="agree-data-collection"
                id="agree-data-collection"
              />

              <label
                for="agree-data-collection"
                class="text-white/70 text-sm lg:text-base"
              >
                Acepto los términos y condiciones proporcionados por la empresa.
                Al proporcionar mi número de teléfono, acepto recibir mensajes
                de texto de iFly Universidad Aeronáutica.
              </label>
            </div>
            <button
              id="submit-button"
              disabled
              type="submit"
              class="btn-primary cursor-not-allowed bg-gray-400 hover:bg-gray-400"
              >Enviar</button
            >
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-main-black/5 mt-14">
    <div class="max-w-7xl mx-auto flex justify-center">
      <GeneralFAQs client:visible />
    </div>
  </section>

  <section class="bg-main-black/5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.313660567794!2d-89.62238082398032!3d21.020132088073378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5677ea05704dd9%3A0x1b8f1df0d8d348b!2siFly%20Universidad%20Aeron%C3%A1utica!5e0!3m2!1sen!2sgt!4v1729229190846!5m2!1sen!2sgt"
      class="w-full h-[30rem] pt-20"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <TestimonialsSwiper content={testimonialsSwiper} />
  <script src="../scripts/creativeSwiper.js"></script>
</BaseLayout>

<script define:vars={{ CONTACT_FORM_WEBHOOK_URL }}>
  const checkbox = document.getElementById("agree-data-collection");
  const submitButton = document.getElementById("submit-button");

  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      submitButton.disabled = false;
      submitButton.classList.remove(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    } else {
      submitButton.disabled = true;
      submitButton.classList.add(
        "cursor-not-allowed",
        "bg-gray-400",
        "hover:bg-gray-400",
      );
    }
  });

  // Wait for the DOM content to be fully loaded
  document.addEventListener("DOMContentLoaded", function () {
    // Get the contactUs form element
    const form = document.getElementById("form");

    // Check if the contactUs form element exists
    if (form !== null) {
      // Add submit event listener to the contactUs form
      form.addEventListener("submit", function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Serialize the form data
        const formData = new FormData(form);

        // Check the value of the honeypot field
        const confirmEmailValue = formData.get("confirm-email");
        if (confirmEmailValue === "" || confirmEmailValue === null) {
          // If the honeypot field is empty, it's a human
          // Set the form action to the URL for processing the form and redirecting to thank you
          form.action = CONTACT_FORM_WEBHOOK_URL;
        }

        // Convert FormData to URLSearchParams
        const urlSearchParams = new URLSearchParams();
        for (const pair of formData.entries()) {
          urlSearchParams.append(pair[0], pair[1]);
        }

        // Send an AJAX request to submit the form
        const xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded",
        );
        xhr.onload = function () {
          // Check if the request was successful (status 200)
          if (xhr.status === 200) {
            // Redirect the user after a successful form submission
            window.location.href = "/confirmacion-de-contacto";
          } else {
            // Handle errors if any
            console.error("Form submission failed:", xhr.statusText);
          }
        };
        xhr.onerror = function () {
          // Handle network errors
          console.error("Network error occurred while submitting the form.");
        };
        xhr.send(urlSearchParams);
      });
    } else {
      console.error("Form element not found.");
    }
  });
</script>
