---
// import { Image } from "astro:assets";
// import type { ImageMetadata } from "astro";
const { data } = Astro.props;
// const images = import.meta.glob<{ default: ImageMetadata }>(
//   "/src/assets/*.{jpeg,jpg,png,gif,webp}",
// );
// if (!images[data.headerImage]) {
//   throw new Error(
//     `"${data.headerImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
//   );
// }
---

<header
  class={`relative isolate pt-20 overflow-hidden min-h-[70vh] lg:h-[90vh] text-white flex
    items-center bg-no-repeat bg-cover lg:bg-center ${data.headerImage}`}
>
  <!-- <Image
  src={images[data.headerImage]()}
  alt={data.headerAlt}
  class="absolute top-0 w-full h-full object-cover -z-50"
  />

  <div class="absolute inset-0 bg-main-black/60 -z-40"></div> -->

  <div
    class="flex lg:w-[60vw] max-w-7xl lg:ml-28 p-5 font-medium flex-col"
  >
    <h1
      class="text-4xl md:text-6xl lg:text-8xl tracking-wider max-w-xl font-extrabold lg:max-w-4xl"
    >
      {data.title}
    </h1>
    <p class="text-5xl font-sans tracking-widest">
      ::::::::
    </p>
    <h2 class="text-xl md:text-2xl lg:text-4xl font-semibold uppercase py-5">
      {data.subTitleFull}
    </h2>
    <p class="text-md md:text-lg lg:text-xl lg:w-[60%]">
      {data.description}
    </p>
    
  </div>
</header>
<div class="border-bottom-blue"></div>
