---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[data.headerImage]) {
  throw new Error(
    `"${data.headerImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
  );
}
---

<header
  class="relative isolate pt-20 overflow-hidden min-h-[70vh] lg:h-[90vh] text-white flex
    items-center bg-no-repeat bg-cover bg-center"
  style=`background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.1) 50%, black 100%), linear-gradient(to right, black 0%, transparent 10%, transparent 90%, black 100%), url(./${data.headerImage});`
>
  <div
    class="flex w-[50vw] lg:w-[30vw] max-w-7xl lg:ml-28 px-5 font-medium flex-col"
  >
    <h1
      class="text-4xl md:text-6xl lg:text-8xl tracking-wider max-w-xl font-extrabold lg:max-w-4xl"
    >
      {data.title}
    </h1>
    <p class="text-5xl">
      ::::::::
    </p>
    <h2 class="text-2xl md:text-4xl lg:text-6xl">
      {data.subTitle}
    </h2>
    <p class="text-md md:text-lg lg:text-xl">
      {data.description}
    </p>
    
  </div>
</header>
<div class="border-bottom-blue"></div>
