---
import ProgramCard from "./TestimonialsCard.astro";

const { content } = Astro.props;
---

<section class="py-8 overflow-hidden">
  <div class="">
    {
      content.upperHeading && (
        <h3 class="mx-auto mt-12 uppercase text-lg lg:text-xl lg:max-w-3xl font-sans text-center font-bold tracking-tight text-accent-300">
          {content.upperHeading}
        </h3>
      )
    }
    {
      content.heading && (
        <h2 class="mx-auto mb-3 font-sans text-3xl lg:text-4xl lg:max-w-3xl text-center font-bold tracking-tight text-main-blue uppercase">
          {content.heading}
        </h2>
      )
    }
    {
      content.heading && (
        <p class="mx-auto mb-5 text-lg lg:text-xl max-w-3xl text-center tracking-loose text-main-blue">
          {content.description}
        </p>
      )
    }
  </div>
  <div class="slider-row">
    <div class="swiper creativeSwiper magic-cursor w-11/12 h-full">
      <div class="swiper-wrapper pb-8">
        {
          content.cards.map((program) => (
            <div class="swiper-slide">
              <ProgramCard
                quoteText={program.quoteText}
                citeText={program.citeText}
                imagePath={program.imagePath}
                imageAlt={program.imageAlt}
              />
            </div>
          ))
        }
      </div>
      <div class="hidden lg:block">
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
